Package: ceres-solver
Version: 2.2.0
Section: libs
Priority: optional
Architecture: amd64
Maintainer: xxl1998 <50321124+xxl1998@users.noreply.github.com>
Description: A large-scale C++ non-linear optimization library.
 Ceres Solver is designed for solving large optimization problems
 with robust and efficient algorithms.
